Cursor/
org.gnome.Ptyxis/
autostart/
gtk-3.0/
gtk-4.0/
libreoffice/
dconf/
nautilus/
pulse/
abrt/
xfce4/
mimeapps.list
monitors.xml
ibus/
evolution/
Thunar/
assets/
user-dirs.dirs
user-dirs.locale
gnome-initial-setup-done


